.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 100px;
    font-size: 35px;
    
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 20px;
    transition: 0.5s;
}
.nav-connect{
    padding: 15px 25px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}